$titleInputHeight: 2.5rem;
$generalPadding: 1rem;
$generalMargin: 1rem;

html {
  font-size: 10px;
}

*  {
  list-style: none;
}

main {
  display: flex;
  width: 100%;
  section {
    border: 1px solid black;
    padding: 0rem 4rem 2rem 2rem;
  }
  .nav {
    flex: .18;
    text-align: center;
    .logo {
      font-size: 2rem;
      font-style: italic;
      font-weight: 800;
    }
  }
  .recentQuestions {
    flex: .44;
    .questionsList {
      height: 83vh;
      overflow-y: scroll;
      padding-left: 0;
      li {
        border: 1px solid black;
        padding: $generalMargin;
        margin-bottom: $generalMargin; 
        div {
          display: flex;
          img{
            float: left;
            margin-right: $generalMargin;
          }
          div{
            flex: 2;
            position: relative;
            .username {
              margin: 0 0 $generalMargin 0;
              font-size: 1.75rem;
              font-weight: 700;
            }
            .questionTitle {
              margin-top: $generalMargin;
              position: absolute;
              top: 20%; 
              font-size: 2rem;
              font-weight: 400;

            }
            .answerQuestion {
              position: absolute;
              right: 0%;
              top: 0%;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .ask {
    flex: .38;
    form {
      .askTitle {
        display: flex;
        margin-bottom: $generalMargin;
        label {
          line-height: $titleInputHeight;
        }
        input{
          flex: 2;
          margin-left: $generalMargin;}
        .titleInput {
          height: $titleInputHeight;
        }
      }
      .askBody {
        textarea {
          width: 100%;
          height: 150px;
          margin-bottom: $generalMargin;
          resize: vertical;
        }
        button {
          width: 25%;
        }
      }
    }
  }
}

.headline {
  font-size: 3rem;
}