$titleInputHeight: 2.5rem;
$generalPadding: 1rem;
$generalMargin: 1rem;
$navFlexWidth: .14;
$mainFlexWidth: 1 - $navFlexWidth;
$recentQuestionsFlexWidth: .525;
$askFlexWidth: 1 - $recentQuestionsFlexWidth - .01;
$answerFlexWidth: 1 - $recentQuestionsFlexWidth - .01;
$dashboardFlexWidth: 1 - $recentQuestionsFlexWidth - .01;
$giveAnswerFlexWidth: 1 - $recentQuestionsFlexWidth - .01;
$lightestGrayBackground: #f3f3f3;
$grayText: #9b9ba2; 
$profilePictureSize: 12rem;

html {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

*  {
  list-style: none;
  font-family: lato;
  text-decoration: none !important;
}

body, main {
  margin: 0px;
  background-color: #e5e5e5;
}

main {
  display: flex;
  width: 100%;
  section {
    background-color: $lightestGrayBackground;
    border: 7px solid #e5e5e5;
    height: 98vh;
    padding: 1rem;
  }
  .nav {
    border: 0;
    height: 100vh;
    background-color: #5c5f6b;
    position: relative;
    color: white;
    flex: $navFlexWidth;
    text-align: center;
    a {
      color: white;
    }
    .logo {
      display: block;
      width: 60%;
      margin: 1rem 3rem 1rem 3rem;
    }
    .currentPoints {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .recentQuestions {
    flex: $recentQuestionsFlexWidth;
    .questionsList {
      overflow-y: scroll;
      padding: 0rem 1rem 0rem 1rem;
      .recentQuestion {
        background-color: white;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: $generalMargin;
        margin-bottom: $generalMargin; 
        div {
          display: flex;
          img {
            width: 30%;
            max-height: 7rem;
            max-width: 7rem;
            margin-right: $generalMargin;
          }
          div {
            flex: 2;
            position: relative;
            .username {
              margin: 0 0 $generalMargin 0;
              font-size: 1.75rem;
              font-weight: 700;
              color: #494949;
            }
            .questionTitle {
              margin-top: 1.3rem;
              position: absolute;
              top: 20%; 
              margin-left: 2rem;
              color: $grayText;
              font-size: 2rem;
              font-weight: 400;

            }
            .answerQuestion {
              position: absolute;
              right: 0%;
              top: 0%;
              color: gray;
              cursor: pointer;
              font-size: 1.5rem;
            }
            .fa {
              position: absolute;
              right: 0%;
              bottom: 0%;
              font-size: 1.25rem;
            }
            .fa-check {
              color: green;
            }
            .fa-times {
              color: Maroon;
            }
          }
        }
      }
      li.hidden{
        display: none;
      }
    }
  }
  .ask {
    flex: $askFlexWidth;
    padding: 0rem 1rem 0rem 1rem;
    form {
      .askTitle {
        display: flex;
        margin-bottom: $generalMargin;
        label {
          line-height: $titleInputHeight;
        }
        input {
          flex: 2;
          margin-left: 0px;
        }
        .titleInput {
          height: $titleInputHeight;
        }
      }
      .askParameters {
        padding: .5rem 8%;
        div:first-child {
          float: left;
        }
        .setPrice {
          float: right;
          h2 {
            display: inline-block;
            margin-top: 0;
            margin-left: 1rem;
            line-height: 23px;
          }
        }
      }
      .askBody {
        margin-top: 3.5rem;
        button {
          width: 25%;
        }
        li {
          display: inline-block;
          button {
            width: 75px;
            margin: 0.5rem;
          }
        }
      }
    }
  }
  .answer {
    flex: $answerFlexWidth;
    padding: 0rem 1rem 0rem 1rem;
    .askedQuestionDescription {
      font-size: 1.8rem;
    }
    textarea {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      min-height: 150px;
    }
  }
  .dashboard {
    flex: $dashboardFlexWidth;
    padding: 0rem 1rem 0rem 1rem;
    .row {
      display: flex;
      margin-bottom: .5rem !important;
      padding-bottom: 0 !important;
      padding: $generalMargin;
      margin-bottom: $generalMargin;
    }
    .dashSection {
      background-color: white;
      text-align: center;
      h1 {
        text-transform: uppercase;
        font-size: 1.7rem;
        color: $grayText; 
      }
    }
    #firstRow {
      .profilePicture {
        width: $profilePictureSize;
        height: $profilePictureSize;
      }
      .bio {
        margin-left: 1.5rem;
        flex: 1;
        height: $profilePictureSize;
        h1 {
          margin-top: 1rem;
        }
        p {
          font-size: 1.1rem;
          color: $grayText;
        }
      }
    }
    #secondRow {
      .askedQuestions {
        width: 55%;
        margin-right: 1rem;
      }
      .questionRatings {
        flex: 1;
        position: relative;
        .rating {
          margin-bottom: 1.35rem;
          margin-top: 1.35rem;
          h1 {
            margin-bottom: .3rem;
            margin-top: .3rem;
          }
          div {
            display: inline-block;
          }       
        }
        hr {
          border-color: $lightestGrayBackground;
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    #thirdRow {
      .userPoints {
        width: 34%;
        margin-right: 1rem;
        padding-bottom: .7rem;
        h2 {
          color: $grayText;
          text-transform: uppercase;
        }
        h1 {
          font-size: 3.3rem;
          color: #5e5e5e;
          margin-top: 0;
          margin-bottom: .3rem;
        }
      }
      .answerQuestions {
        flex: 1;
      }
    }
    .recentQuestionsList {
      padding-left: 0;
      li {
        cursor: pointer;
        position: relative;
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10%;
        }
        .fa-times {
          color: maroon;
        }
      }
    }
  }
}

.giveAnswer {
  flex: $giveAnswerFlexWidth;
  // width: 50%;
  // margin-left: 0px;
  // border: none;
  section {
    border: none;
  }
  textarea {
    height: 75%;
    border: 0;
    // height: 96%;
    border: none;
  }
}

.searchBar {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin: $generalMargin; 
  width: 97%;
  position: relative;
}

.headline {
  font-size: 3rem;
  text-align: center;
  color: $grayText;
  letter-spacing: .27rem;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: $generalMargin;
  padding: .7rem;
  resize: vertical;
}

.main {
  display: flex;
  flex: $mainFlexWidth;
}

.block {
  display: block;
}

.invisible {
  display: none;
}